#header{
    background-color:skyblue;
    color:white;
    width :550px;
    text-align:center;
    
}
#main img{
width:550px;
height: 350px;

    
}
#footer{
    text-align: right ;
    background-color:orange;
    padding :10px;
    width :550px;
    
}